BasedOnStyle: Google

ColumnLimit: 140
IndentWidth: 4
UseTab: Never

SpacesInParentheses: false
SpaceAfterCStyleCast: true
PointerAlignment: Left
DerivePointerAlignment: false

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

SortIncludes: true
IncludeBlocks: Regroup

BreakBeforeBraces: Attach
AccessModifierOffset: -4

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false