# docker build -f Dockerfile.dev -t myapp:dev .
# docker build -f Dockerfile -t myapp:prod .

# docker build -f docker/Dockerfile.dev -t myapp:dev .
# docker build -f docker/Dockerfile.prod -t myapp:prod .
version: "3.9"

services:
  # app-dev:
  #   build:
  #     context: .
  #     dockerfile: docker/Dockerfile.dev
  #   image: myapp:dev
  #   container_name: myapp-dev
  #   volumes:
  #     - ./src:/app/src
  #     - ./:/app
  #   working_dir: /app
  #   command: bash
  #   stdin_open: true
  #   tty: true
  #   ports:
  #     - "8080:8080"
  #   environment:
  #     - APP_ENV=dev
  nats:
    image: nats:latest
    container_name: chat-nats
    ports:
      - "4222:4222"   # клиентский порт
      - "8222:8222"   # мониторинг
    command: ["-js"]  # включим JetStream на будущее
    networks:
      - chatnet

  chat-service:
    build:
      context: .
      dockerfile: docker/Dockerfile.chat-service
    container_name: chat-service
    depends_on:
      - nats
    environment:
      - NATS_URL=nats://nats:4222
      - SERVICE_PORT=12345
    ports:
      - "12345:12345"   # пробрасываем порт сервиса наружу
    networks:
      - chatnet

networks:
  chatnet:
    driver: bridge